# Files to ignore by default in Git #
#####################################
*.pdf
*.pyc
*.db
*.jar
*.gz
*.tar
*.zip
*.db
*.dll

# DB and other log files #
##########################
*.log
*.db
*.sqlite
*.sql

# Specific Files to ignore #
############################
georgia_lynchings/localsettings.py
playspace.py
Thumbs.db
Icon?
.DS_Store?
ehthumbs.db
.idea
collectedmedia

# Directories to Ignore #
#########################
build
dist
#ignore the docs _build directory
doc/_build/
georgia_lynchings/test-results
sitemedia
static/documents
