# Files to ignore by default in Git #
#####################################
*.pyc
*.db
*.jar
*.gz
*.tar
*.zip
*.db
*.dll

# DB and other log files #
##########################
*.log
*.db
*.sqlite
*.sql
*.csv
*.txt

localsettings.py
georgia_lynchings/localsettings.py
georgia_lynchings/articles/static/articleimages/*.png
playspace.py
Thumbs.db
Icon?
.DS_Store?
.DS_Store
ehthumbs.db
.idea
collectedmedia
.project
.pydevproject
build/
articles/static/articleimages/*.png
