{% extends "page_base.html" %}

{% block head-scripts %}
  {{ block.super }}
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js?2.9.2"></script>

  <script type="text/javascript">
    /* Based heavily on sample code from:
     *   http://mbostock.github.com/d3/ex/force.html
     * which is copyright 2012 Mike Bostock
     */

    $(document).ready(function(){
      var width=960, height=800;

      /* general settings of the force-directed graph itself */
      var force = d3.layout.force()
          .charge(-2000)
          .linkDistance(20)
          .gravity(1)
          .size([width, height]);
      var svg = d3.select("#graph").append("svg")
          .attr("width", width)
          .attr("height", height);

      /* grab the graph data */
      d3.json("{{ data_url }}", function(json) {
        force
            .nodes(json.nodes)
            .links(json.links)
            .start();

        /* create the links between the nodes.
         * TODO: look into svg line markers to add direction arrows
         */
        var link = svg.selectAll("line.link")
            .data(json.links)
          .enter().append("line")
            .attr("class", "link")
            .style("stroke", "#aaa")
            .style("stroke-width", function(d){ return d.value * 0.6; } );

        /* create the nodes. a node is a g containing a circle and text.
         * this allows us to keep the circle marker and the label together
         * in a single element */
        var node = svg.selectAll("g.node")
            .data(json.nodes)
          .enter().append("g")
            .attr("class", "node")
            .call(force.drag);

        node.append("circle")
            .attr("r", function(d){ return d.weight/1.5 + 6; })
            .style("fill", "#9b9")
            .style("stroke", "#ddd")
            .style("stroke-width", "1.5");
      
        node.append("text")
            .attr("class", "label")
            .attr("dy", ".3em")
            .attr("text-anchor", "middle")
            .text(function(d) { return d.name; });

        /* every tick, update the line and node locations */
        force.on("tick", function() {
          link.attr("x1", function(d) { return d.source.x; })
              .attr("y1", function(d) { return d.source.y; })
              .attr("x2", function(d) { return d.target.x; })
              .attr("y2", function(d) { return d.target.y; });

          node.attr("transform", function(d) {
            return "translate(" + d.x + "," + d.y + ")";
          });

        });

      });
    });
  </script>
{% endblock %}

{% block content-body %}
  <div id=graph></div>
{% endblock %}
