{% extends "page_base.html" %}

{% block head-scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery_plugins/jquery.awesomeCloud-0.2.min.js"></script>
{% endblock %}

{% block content-body %}
  <div id="wordcloud" style="border:1px solid #f00;height:150px;width:150px;">
      {% for word in word_list %}
        <span data-weight="{{ word.count }}">{{ word.word }}</span>
      {% endfor %}

  </div>
{% endblock %}

{% block endscript %}
        {{ block.super }}
        <script type="text/javascript">
                var settings = {
                    "size" : {
                        "grid" : 8, // word spacing, smaller is more tightly packed
                        "factor" : 5, // font resize factor, 0 means automatic
                        "normalize" : true // reduces outliers for more attractive output
                    },
                    "color" : {
                        "background" : "rgba(255,255,255,0)", // background color, transparent by default
                        "start" : "#20f", // color of the smallest font, if options.color = "gradient""
                        "end" : "rgb(200,0,0)" // color of the largest font, if options.color = "gradient"
                    },
                    "options" : {
                        "color" : "gradient", // if "random-light" or "random-dark", color.start and color.end are ignored
                        "rotationRatio" : 0.3, // 0 is all horizontal, 1 is all vertical
                        "printMultiplier" : 1, // set to 3 for nice printer output; higher numbers take longer
                        "sort" : "highest" // "highest" to show big words first, "lowest" to do small words first, "random" to not care
                    },
                    "font" : "Helvetica, Arial, sans-serif", // the CSS font-family string
                    "shape" : "circle" // the selected shape keyword, or a theta function describing a shape
                }
            $( "#wordcloud" ).awesomeCloud( settings );
        </script>
{% endblock %}
