<div id="article_{{ article.id }}" class="article_block">
    {% if article.file %}
        <a href="{{ MEDIA_URL }}{{ article.file }}">

        <img src="{{ MEDIA_URL }}{{ article.file|make_list|slice:":-4"|join:"" }}.png" height="100" align="left"/>
    {% else %}
        <img src="{{ STATIC_URL }}images/article-nofile.png" height="100" width="77" align="left"/>
    {% endif %}
    {% comment %}
    Creating an approximation of the Chicago Style citation format
    for an article.
    http://ia.juniata.edu/citation/chicago_bib/chicago-periodicals.htm
    {% endcomment %}
    {% if article.creator %}
        {{ article.creator }}
    {% endif %}
    {% if article.title %}
        "{{ article.title }},"
    {% endif %}
    {% if article.publisher %}
        <em>{{ article.publisher }}</em>
    {% endif %}
    {% if article.date %}
        {{ article.date|date:"j F Y" }}.
    {% endif %}
    {% if article.coverage %}
        {{ article.coverage }}.
    {% endif %}

    {% if article.file %}
        </a>
    {% endif %}
</div>

