{% comment %}
Template snippet use to display summary information about a lynching victim.
{% endcomment %}
<article id="victim_{{ lynching.id }}" class="victim">
    <p>
        <strong></strong><span alt="{{ lynching.victim.alias_set.all|join:", " }}">
            {{ lynching.victim }} was lynched
        </span></strong>
        {% if lynching.county %}
            in <a href="{% url lynchings:county_detail lynching.county.id %}">{{ lynching.county }}</a> County
        {% endif %}
        {% if lynching.date %}
            on {{ lynching.date|date:"l, F jS Y" }}
        {% endif %}
        {% if lynching.alleged_crime %}
            after being accused of <a href="{% url lynchings:story_list_by_accusation lynching.alleged_crime.id %}">{{ lynching.alleged_crime }}</a>
        {% endif %}
    </p>
    <div class="meta">
        {% if perms.change_person %}
            edit: [<a href="{% url admin:lynchings_person_change lynching.victim.id %}" target="_blank">Person</a>]
            [<a href="{% url admin:lynchings_lynching_change lynching.id %}" target="_blank">Lynching</a>]
            {% if lynching.county %}
                [<a href="{% url admin:demographics_county_change lynching.county.id %}" target="_blank">County</a>]
            {% endif %}
        {% endif %}
    </div>
</article>