{% extends "base.html" %}

{% block title %}Events: {{ title }}{% endblock %}

{% block content %}
  <h1 class="main">Events for Participant: {{ title }}</h1>

  <table summary="Events for a Participant ({{ row_id }}): {{ title }}" border=1 cellpadding=10px>
  <tr><th>Role</th><th>Macro Event</th><th>Event</th><th>Semantic Triplet</th></th></tr>
  {% for result in resultSet %}
      <tr>
      <td>{{ result.role }}</td>
      <td>{{ result.melabel }}</td>
      <td>{{ result.evlabel }}</td>
      <td>{{ result.trlabel }}</td>
      </tr>
  {% endfor %}
  </table>
{% endblock %}
