#graph .link {
  stroke: #aaa;
}
#graph .link.selected {
  stroke: #0a0;
}
#graph .node circle {
  stroke: #ddd;
  stroke-width: 1.5;
}
#graph .node.selected circle {
  stroke: #0c0;
  stroke-width: 3;
}
