{% extends "page_base.html" %}

{% block head-title %}Article Detail - {{ article.title }}: {{ block.super }}{% endblock %}

{% block head-style %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jqueryui/smoothness/jqueryui.css">
{% endblock %}

{% block head-scripts %}
  {{ block.super }}
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js">
    </script>
  <script type="text/javascript">
    $(function() {
      $( "#pagetabs" ).tabs();
    });
    </script>
{% endblock %}

{% block mainclass %}{{ block.super }} with_aside{% endblock %}

{% block content-title %}Article Display{% endblock %}

{% block content-body %}
   <div id="pagetabs" style="overflow: hidden;">
    <ul>
    {% for pageimage in pageimage_list %}
    <li><a href="#pagetab-{{ forloop.counter }}">Page {{ forloop.counter }}</a></li>
    {% endfor %}
    </ul>
    {% for pageimage in pageimage_list %}
    	<div id="pagetab-{{ forloop.counter }}">
    		<img src="{{ STATIC_URL }}articleimages/{{ pageimage }}" />
    	</div>
    {% empty %}
    <div>Pages for this article are not available.</div>
    {% endfor %}
    </div>
{% endblock %}

{% block aside %}
<aside>
    <section id="Article Information">
        <header>
            <h3>Article Citation</h3>
        </header>
        <div>{% include 'articles/snippets/article_citation.html' %}</div>
        <div id="download">
        <h4>Article Download</h4>
            {% if article.file %}
            <a href="{{ MEDIA_URL }}{{ article.file }}">
            <img src="{{ STATIC_URL }}images/pdf-icon.jpg" alt="pdf icon" />
                Download PDF
            </a>
            {% endif %}
        </div>
    </section>
</aside>
{% endblock %}
