{% extends "base.html" %}

{% block title %}Articles: {{ title }}{% endblock %}

{% block content %}
  <h1 class="main">{{ title }} for Georgia Lynchings</h1>
  <table summary="Articles for a Macro Event ({{ row_id }}): {{ title }}" border=1 cellpadding=10px>
  <tr><th>Paper Name</th><th>Paper Date</th><th>Article<br/>Page</th><th>Download</th></th>
  {% for result in resultSet %}
      <tr>
      <td>{{ result.papername }}</td>
      <td>{{ result.paperdate }}</td>
      <td>{{ result.articlepage }}</td> 
      <td>
        {% if result.docpath == 'n/a' %}
            n/a             
        {% else %}
            <h4>STATIC_URL = {{ STATIC_URL }}</h4>
            <h4>STATIC_PREFIX = {{ STATIC_PREFIX }}</h4>            
            <a href="{{ STATIC_URL }}../{{ result.docpath_link }}">{{ result.docpath }}</a>            
        {% endif %}          
      </td>     
      </tr>
  {% endfor %}
  </table>
{% endblock %}
