{% extends "page_base.html" %}

{% block head-title %}Articles: {{ title }}{% endblock %}

{% block content-title %}{{ title }} for Georgia Lynchings{% endblock %}

{% block content-body %}
  <table summary="Articles for a Macro Event ({{ row_id }}): {{ title }}" cellpadding=10px>
  <tr><th>Paper Name</th><th>Paper Date</th><th>Article<br/>Page</th><th>Download</th></th></tr>
  {% for result in resultSet %}
      <tr>
      <td>{{ result.papername }}</td>
      <td>{{ result.paperdate }}</td>
      <td>{{ result.articlepage }}</td> 
      <td>
        {% if result.docpath == 'n/a' %}
            n/a             
        {% else %}        
            <a href="{{ STATIC_URL }}../{{ result.docpath_link }}">{{ result.docpath }}</a>            
        {% endif %}          
      </td>     
      </tr>
  {% endfor %}
  </table>
{% endblock %}
