div#mapcontainer {
   float: left;
}
       
div#details {
   float: right;
   width: 30%;
   display: none;
}
	   
div#details a {
   float: right;
   margin: 5px;
}
       
div#details img.close {
   float: right;
   margin: 5px;
   width:20px;
   height:20px;
   cursor: hand;
   cursor: pointer;
}
	   
#details #detail-content {
   margin: 5px;
   clear: right;
   overflow: auto;
   height: 80%;
}
