{% extends "page_base.html" %}

{% block head-title %}Lynchings in Georgia (1875-1930){% block head-subtitle %}{% endblock %}{% endblock %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/index.css">
{% endblock %}

        {% block mainclass %}{{ block.super }} sidebar{% endblock %}

{% block content-title %}Protype displays (development only){% endblock %}
{% block content-body %}
    <article>
      <header><h2><a href="{% url lynchings:lynching_list %}">Lynchings</a></h2></header>
      <p>Examined details about the {{ count.lynching }} lynchings analyzed for the descriptive narratives and relationships expressed in news articles from the time.
      </p>
    </article>
      <header><h2><a href="{% url lynchings:alleged_crimes_list %}">Alleged Crimes</a></h2></header>
      <p>View the {{ count.accusation }} catagories of accusations made against the victims of these horrible events.</p>
    </article>
      <header><h2><a href="{% url lynchings:county_list %}">List of Georgia Counties</a></h2></header>
      <p>Lynchings occured in {{ count.county }} counties in Georgia and neighboring states.</p>
    </article>
      <header><h2><a href="{% url lynchings:timemap %}">Timemap of Lynching Victims</a></h2></header>
      <p>View an interactive timeline and map of these Lynchings.</p>
    </article>
      <header><h2><a href="{% url relations:graph %}">Graph of Story Actors</a></h2></header>
      <p>An interactive network of the {{ count.relation }} interactions between groups uncovered
        as part of the scholarly analysis of newspaper reporting from the time.</p>
    </article>
{% endblock %}

{% block aside %}
<aside>
    <h3>{% block aside-title %}A History of Violence{% endblock %}</h3>
    {% block aside-content %}
    <p>This site brings to light the terrible history of Lynching violence in the state of 
      Georgia circa 1875-1930.  Through a analysis of the newspaper articles reporting
      on these crimes, scholars have been attempting to express the complex network of 
      relationships between actors and classify the types of interactions expressed in reporting from that time.  Through analysis of the language used to report these events scholars hope to express the complexity of interactions related to these terrible events.</p>
    {% endblock %}
</aside>
{% endblock %}
