{% extends "base.html" %}

{% block title %}Lynchings in Georgia (1875-1930){% endblock %}

{% block content %}
  <h1 class="main">Lynchings in Georgia (1875-1930)</h1>

  <div class="query"> 
    <h4>Query the data:</h4>
    <ul>
      <li><a target="_blank" href="events/times">List all events ordered by time.</a></li>
      <li><a target="_blank"href="events/locations">List all events ordered by location.</a></li>
      <li><a target="_blank"href="articles">List all articles.</a></li>
      <li><a target="_blank" href="actors/4569/events">List events that involve: <i>Sam Hose</i>.</a></li>
    </ul>
  </div>
{% endblock %}
