{% extends "base.html" %}

{% block title %}Lynchings in Georgia (1875-1930){% endblock %}

{% comment %}
  Temporarily skip sitewide shared banner. We're in the middle of a
  redesign. For now we're wrapping everything on this page inside a
  #container element, which isn't compatible with the rest of the sitewide
  design. As the new design develops, this page should be refactored to come
  back in line with it.
{% endcomment %}
{% block banner %}{% endblock %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/index.css">
{% endblock %}

{% block content %}
  <div id="container">
    <div id="header">
      <h1>Lynchings in Georgia (1875-1930)</h1>
    </div>

    <!-- floaters handle vertical centering. see index.css -->
    <div class="pane" id="topleft">
      <div class="floater"></div>
      <div class="panecontent">
        <a href="{% url macro_events %}">macro events</a><br/>
        events by <a href="{% url times %}">time</a>
        or <a href="{% url locations %}">location</a></div>
    </div>

    <div class="pane" id="topright">
      <div class="floater"></div>
      <div class="panecontent"><a href="{% url macroevents row_id=4569 %}">Sam Hose</a></div>
    </div>


    <div class="pane" id="bottomleft">
      <div class="floater"></div>
      <div class="panecontent"><a href="{% url newspaper_articles %}">articles</a></div>
    </div>

    <div class="pane" id="bottomright">
      <div class="floater"></div>
      <div class="panecontent">
        <form action="{% url search %}" method="get">
          {{ search_form.q }}
          <input type="submit" value="search">
        </form>
      </div>
    </div>

    <div id="insidefooter">
      <!-- 
        since the content is all floating, this cleared div makes sure
        #container properly contains it.
      -->
    </div>
  </div>
{% endblock %}
