{% extends "base.html" %}

{% block title %}Articles: {{ title }}{% endblock %}

{% block content %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
  <h1 class="main">Articles for Macro Event: {{ title }}</h1> 
  {% if resultSet %}
  <table summary="Articles for a Macro Event {{ results.melabel }}" id="gen">      
  <tr><th>Event</th><th>Paper Name</th><th>Paper Date</th><th>Article<br/>Page</th><th>Download</th></tr>
  {% for result in resultSet %}
      <tr>
      <td>{% if result.evlabel %}{{ result.evlabel }}{% else %}n/a{% endif %}</td>
      <td>{% if result.papername %}{{ result.papername }}{% else %}n/a{% endif %}</td> 
      <td>{% if result.paperdate %}{{ result.paperdate }}{% else %}n/a{% endif %}</td> 
      <td>{% if result.articlepage %}{{ result.articlepage }}{% else %}n/a{% endif %}</td>                 
      <td>{% if result.docpath %}
          <a href="{{ STATIC_PREFIX }}../{{ result.docpath_link }}">
          <img src="{{ STATIC_PREFIX }}/images/pdf-icon.jpg"/></a>{% else %}n/a{% endif %}</td>
      </tr>
  {% endfor %}
  </table> 
  {% endif %}     
{% endblock %}
