{% extends "base.html" %}

{% block title %}Details: {{ title }}{% endblock %}

{% block content %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% if results %}
  <h1 class="main">Details for Macro Event: {{ results.melabel }}</h1>
  <a href={{ pagelink.prev }}>Prev</a>&nbsp;&nbsp;<a href={{ pagelink.next }}>Next</a>  
  <table summary="Details for a Macro Event {{ results.melabel }}" border=1 cellpadding=10px>
      <tr><th width=25% align='right'>Macro Event Title:</th><td>{{ results.melabel }}</td></tr>
      <tr><th align='right'>Articles:</th><td><a href={{ results.articles_link }}>{{ results.articleTotal }}</a></td></tr>
      <tr><th align='right'>Victim:</th><td>{{ results.victim }}</td></tr>
      <tr><th align='right'>Type of Event:</th><td>{{ results.event_type }}</td></tr>
      <tr><th align='right'>Reason:</th><td>{{ results.reason }}</td></tr>    
      <tr><th align='right'>Outcome:</th><td>{{ results.outcome }}</td></tr>
      {% for event in results.events %} 
      <tr>
        <th valign="top" align='right' width=25%>
           
            Event:<br/>
            {% if event.mindate %}Min Date:<br/>{% endif %}  
            {% if event.maxdate %}Max Date:<br/>{% endif %}                          
            {% if event.city %}City:<br/>{% endif %}  
            Semantic Triplets:<br/>       
        </th>
        <td valign="top">
            {{ event.evlabel }}<br/>
            {% if event.mindate %}{{ event.mindate }}<br/>{% endif %} 
            {% if event.maxdate %}{{ event.maxdate }}<br/>{% endif %}                         
            {% if event.city %}{{ event.city }}<br/>{% endif %}  

            &bull;&nbsp;{{ event.triplet_first }}
            <div class="layer1">
            <div class="more">. . .</div>
            <div class="triplet_rest">
              {% for triple in event.triplet_rest %}  
                &bull;&nbsp;{{ triple }}<br/>&nbsp;<br/>
              {% endfor %} </div>
            </div>

        </td></tr>    

    {% endfor %}      
  </table>
{% else %}
<h1 class="main">Not Found</h1>
{% endif %}  
<a href={{ pagelink.prev }}>Prev</a>&nbsp;&nbsp;<a href={{ pagelink.next }}>Next</a>
{% endblock %}
