{% extends "base.html" %}

{% block title %}Event Locations{% endblock %}

{% block content %}
  <h1 class="main">Events by location</h1>

  {% regroup results by city.value as city_list %}
  {% for city in city_list %}
    {% regroup city.list by county.value as county_list %}
    {% for county in county_list %}
      {% regroup county.list by state.value as state_list %}
      {% for state in state_list %}
        {% spaceless %}
          <h2>
            {% if city.grouper %}
              <span class="city">{{ city.grouper }}</span>
            {% endif %}
            {% if county.grouper %}
              {% if city.grouper %}<span>, </span>{% endif %}
              <span class="county">{{ county.grouper }}</span>
              {% if not state.grouper %}<span> County</span>{% endif %}
            {% endif %}
            {% if state.grouper %}
              {% if city.grouper or county.grouper %}<span>, </span>{% endif %}
              <span class="state">{{ state.grouper }}</span>
            {% endif %}
          </h2>
        {% endspaceless %}

        <ul>
          {% for event in state.list %}
            <li>{{ event.evlabel.value }}</li>
          {% endfor %}
        </ul>
      {% endfor %} {# state in state_list #}
    {% endfor %} {# county in county_list #}
  {% endfor %} {# city in city_list #}
{% endblock %}
