{% extends "base.html" %}

{% block title %}Date Range for Macro Events{% endblock %}

{% block content %}
  <h1 class="main">Date Range for {{ title }}</h1>

  <table summary="Date Range for a Macro Events" border=1 cellpadding=10px>     
  <tr><th>Macro Event</th><th>Event</th><th>Min Date</th><th>Max Date</th></th>
  {% for result in results %}
      <tr>       
      <td><a href={{ result.macro_link }}>{{ result.melabel }}</a></td>
      <td>{{ result.evlabel }}</td>
      <td>{{ result.mindate }}</td>
      <td>{{ result.maxdate }}</td>
        </tr>
  {% endfor %}
  </table>
{% endblock %}
