{% extends "base.html" %}


{% block title %}Georgia Lynchings Timeline{% endblock %}

{% block page-head %}
    {{ block.super }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/timemap/lib/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/timemap/lib/mxn/mxn.js?(googlev3)"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/timemap/lib/timeline-1.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/timemap/src/timemap.js"></script>
    <script type="text/javascript">
        {# Might want to find a way to move this into another file #}
        {# if if grows to much #}
        var tm;
        // execute after the DOM is ready
        $(document).ready(function() {

            tm = TimeMap.init({
                mapId: "map",               // Id of map div element (required)
                timelineId: "timeline",     // Id of timeline div element (required)
                options: {
                      eventIconPath: "{{ STATIC_URL }}js/timemap/images/"
                },
                datasets: {{ data }},
                bandIntervals: [
                    Timeline.DateTime.MONTH,
                    Timeline.DateTime.DECADE
                ],
                // may want to adjust this date to get different initial results
                scrollTo: TimeMap.dateParsers.hybrid("Jul 15 1890")
            });
            
            // filter function for tags
            var hasSelectedTag = function(item) {
                // if no tag was selected, everything passes
                return !window.selectedTag || (
                        // item has tags?
                        item.opts.tags && 
                        // tag found? (note - will work in IE; Timemap extends the Array prototype if necessary)
                        item.opts.tags.indexOf(window.selectedTag) >= 0
                    );
            };
            
            // add our new function to the map and timeline filters
            tm.addFilter("map", hasSelectedTag); // hide map markers on fail
            tm.addFilter("timeline", hasSelectedTag); // hide timeline events on fail

            // onChange handler for pulldown menu
            $('#tag_select').change(function() {
                window.selectedTag = $(this).val();
                // run filters
                tm.filter('map');
                tm.filter('timeline');
            });
        });
    </script>

   {% endblock %}

   {% block style %}
       {{ block.super }}
        <link href="{{ STATIC_URL }}style/timemap.css" type="text/css" rel="stylesheet"/>
   {% endblock %}

    {% block content %}
        <h1 class="main">Lynchings in Georgia (1875-1930) Timeline Map</h1> 
        
        {% for filter, tags in filters.items %}
            {{ filter }}: 
            <form>
                <select id="tag_select">
                    <option value="">All tags</option>
                    {% for tag,freq in tags.items %}                  
                        <option value="{{ tag }}">{{ tag }} ({{ freq }})</option>
                    {% endfor %}
                </select>
            </form>
        {% endfor %}        
        
              
        {% if data %}
            {# divs for timemap display #}
            <div id="timemap" />
            <div id="timelinecontainer" />
            <div id="timeline"></div>
            <div id="mapcontainer">
            <div id="map"></div>
            </div>
        {% endif %}
{% endblock %}
