{% extends "page_base.html" %}

{% block head-title %}List of Accusations{% endblock %}

{% block head-style %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jqueryui/smoothness/jqueryui.css">
{% endblock %}


{% block head-scripts %}
	{{ block.super }}
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js">
    </script>
    <script src="{{ STATIC_URL }}js/jquery_plugins/jquery.tagcanvas.min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
		var gradient = { // from http://www.perbang.dk/rgbgradient/
			 0:    '#bf0500', // red
			 0.2: '#c24400', // orange
			 0.4: '#c68500', // gold
			 0.6: '#cac900', // yellow
			 0.8: '#8dce00', // yellow-green
			 0.9:  '#4cd200', // off-green
			 0.92: '#09d500', // green
			 0.94: '#00d93c', // dull green
			 0.96: '#00e1cf', // cyan
			 1:    '#00AEE5',  // blue
			};
      $(document).ready(function() {
        if(!$('#myCanvas').tagcanvas({
          textColour: '#ff0000',
          outlineColour: '#ff00ff',
          reverse: true,
          depth: 0.9,
          maxSpeed: 0.008,
          weight: true,
          weightFrom: "data-weight",
          weightMode: "colour",
          minBrightness: 0.3,
          freezeActive: true,
          weightGradient: gradient,
        },'tags')) {
          // something went wrong, hide the canvas container
          $('#myCanvasContainer').hide();
        }
      });
    </script>
    <script type="text/javascript">
    $(function() {
    	$( "#tabs" ).tabs();
    });
    </script>

{% endblock %}

{% block content-title %}Number of Lynchings by Alleged Crimes: {{ block.super }}{% endblock %}

{% block content-body %}
<div id="tabs">
	<ul>
		<li><a href="#tab-1">List View</a></li>
		<li><a href="#tab-2">Animated Cloud View</a></li>
	</ul>
	<div class="crimelist" id="tab-1">
		<div class="listcolumn">
			{% for accusation in accusation_list %}
				<div>
					<a href="{% url lynchings:lynching_list_by_accusation accusation.id %}" data-weight="{{ accusation.victim_count }}">{{ accusation }} ({{ accusation.victim_count }})</a>
				</div>
				{% if forloop.counter == slice_at %}
					</div><div class="listcolumn">
				{% endif %}
			{% empty %}
				<div class="empty">
					No list of allege crimes were returned.  It's likely data is being reloaded but if you continue to see this message please contact an administrator.
				</div>
			{% endfor %}
		</div>
		<div class="clearfix"></div>
	</div>

		<div id="tab-2">
			{% if accusation_list %}
				<div id="myCanvasContainer">
			      <canvas width="900" height="800" id="myCanvas">
			        <img src="{{ STATIC_URL }}images/Black-0018-loading.gif" height="50" weight="50" />
			      </canvas>
			    </div>
				<div id="tags">
					<ul class="weighted" id="weightTags">
						{% for accusation in accusation_list %}
							<li><a href="{% url lynchings:lynching_list_by_accusation accusation.id %}" data-weight="{% widthratio accusation.victim_count 25 5 %}">
								{{ accusation }}
							</a></li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				<p>No list of allege crimes were returned.  It's likely data is being reloaded but if you continue to see this message please contact an administrator.</p>
			{% endif %}
		</div>
</div>
{% endblock %}